<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recette</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>


    <!-- サービスページのメイン -->
    <div class="service-main">

      <!-- ページタイトル -->
      <div class="page-title">
        <div class="page-title__main">レパートリーを増やそう！</div>
      </div>

      <!-- サービス紹介 -->
      <div class="service-items">

        <!-- サービス１ -->
        <div class="service-item">
          <div class="service-image">
            <img src="#" alt="recipe.tittle">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              recipe.title
            </div>
            <div class="service-text__sub">
              recipe.text
            </div>
          </div>
        </div>

        <!-- サービス２ -->
        <div class="service-item">
          <div class="service-image">
            <img src="image/development.jpg" alt="">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              text
            </div>
          </div>
        </div>

        <!-- サービス３ -->
        <div class="service-item">
          <div class="service-image">
            <img src="image/marketing.jpg" alt="">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              text
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>