<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recette</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>


    <!-- サービスページのメイン -->
    <div class="service-main">

      <!-- ページタイトル -->
      <div class="page-title">
        <div class="page-title__main">レパートリーを増やそう！</div>
      </div>

      <!-- サービス紹介 -->
      <div class="service-items">

        <!-- サービス１ -->
        <div class="service-item">
          <div class="service-image">
            <img src="#" alt="@recipe.tittle">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              recipe.title
            </div>
            <div class="service-text__sub">
              recipe.text
            </div>
          </div>
        </div>

        <!-- サービス２ -->
        <div class="service-item">
          <div class="service-image">
            <img src="image/development.jpg" alt="開発">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              開発
            </div>
            <div class="service-text__sub">
              作成した仕様に基づきコーディングを行います。保守のしやすい高品質なコードが当社の強みです。
            </div>
          </div>
        </div>

        <!-- サービス３ -->
        <div class="service-item">
          <div class="service-image">
            <img src="image/marketing.jpg" alt="マーケティング">
          </div>
          <div class="service-text">
            <div class="service-text__main">
              マーケティング
            </div>
            <div class="service-text__sub">
              正式リリースしたアプリについては、ユーザー獲得の支援も承ります。
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>